<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../public/css/style.css" />
    <title>test</title>
    <h1>Test</h1>
    <div
      class="tenor-gif-embed"
      data-postid="12102973"
      data-share-method="host"
      data-aspect-ratio="2.37037"
      data-width="100%"
    >
      <a
        href="https://tenor.com/view/dare-i-dare-you-i-double-dare-you-samuel-l-jackson-pulp-fiction-gif-12102973"
        >I Dare You, I Double Dare You! GIF</a
      >from <a href="https://tenor.com/search/dare-gifs">Dare GIFs</a>
    </div>
    <script
      type="text/javascript"
      async
      src="https://tenor.com/embed.js"
    ></script>
  </head>
  <body></body>
</html>
